<div class="row mb-5">
  <div class="col-sm">
    <h2 translate>ADD</h2>
    <div *ngIf="form" class="row" [formGroup]="form">
      <div class="col-sm-12 col-md-6 col-lg-4">
        <div class="row mb-4">
          <div class="col-sm">
            <label for="sapient-credit-card-name-input" translate>NAME</label>
            <div class="input-group">
              <input type="text" class="form-control" id="sapient-credit-card-name-input" formControlName="name">
            </div>
            <div *ngIf="(!f.name.pristine || submitted) && f.name.errors" class="text-danger">
              <div *ngIf="(!f.name.pristine || submitted) && f.name.errors.required" translate>NAME_REQUIRED</div>
            </div>
          </div>
        </div>
        <div class="row mb-4">
          <div class="col-sm">
            <label for="sapient-credit-card-card-number-input" translate>CARD_NUMBER</label>
            <div class="input-group">
              <input type="text" class="form-control" id="sapient-credit-card-card-number-input"
                     formControlName="cardNumber">
            </div>
            <div *ngIf="(!f.cardNumber.pristine || submitted) && f.cardNumber.errors" class="text-danger">
              <div *ngIf="(!f.cardNumber.pristine || submitted) && f.cardNumber.errors.required" translate>CARD_NUMBER_REQUIRED</div>
              <div *ngIf="(!f.cardNumber.pristine || submitted) && f.cardNumber.errors.validCardNumber" translate>CARD_NUMBER_INVALID</div>
            </div>
          </div>
        </div>
        <div class="row mb-4">
          <div class="col-sm">
            <label for="sapient-credit-card-limit-input" translate>LIMIT</label>
            <div class="input-group">
              <input type="number" class="form-control" id="sapient-credit-card-limit-input" formControlName="balanceLimit">
            </div>
            <div *ngIf="(!f.balanceLimit.pristine || submitted) && f.balanceLimit.errors" class="text-danger">
              <div *ngIf="(!f.balanceLimit.pristine || submitted) && f.balanceLimit.errors.required" translate>LIMIT_REQUIRED</div>
              <div *ngIf="(!f.balanceLimit.pristine || submitted) && f.balanceLimit.errors.min" translate>VALUE_LOW</div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <button class="btn btn-success pl-4 pr-4" (click)="addCreditCard()" translate>ADD</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
