<div class="row">
  <div class="col-sm">
    <table class="table">
      <thead class="thead-light">
      <tr>
        <th scope="col" translate>NAME</th>
        <th scope="col" translate>CARD_NUMBER</th>
        <th scope="col" translate>BALANCE</th>
        <th scope="col" translate>LIMIT</th>
      </tr>
      </thead>
      <tbody>

      <tr *ngFor="let creditCard of creditCards$ | async">
        <th>{{ creditCard.name }}</th>
        <td>{{ creditCard.cardNumber }}</td>
        <td [class.text-danger]="creditCard.balance < 0">{{ creditCard.balance | currency:'GBP' }}</td>
        <td>{{ creditCard.balanceLimit | currency:'GBP' }}</td>
      </tr>

      </tbody>
    </table>


  </div>
</div>
